@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root{
    --Tomato: hsl(4, 100%, 67%);
    --Dark-Slate-Grey: hsl(234, 29%, 20%);
    --Charcoal-Grey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

img{
    display: block;
}

body{
    background-color: var(--Dark-Slate-Grey);
    font-family: 'Roboto',sans-serif;
}

.wrapper{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: var(--White);
    padding: 20px;
    padding-left: 50px;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.container .left{
    display: flex;
    max-width: 380px;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
}

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .left h1{
    font-size: 2.7rem;
    color: var(--Charcoal-Grey);
}

.container .left p{
    color: var(--Charcoal-Grey);
}

.check-point{
    color: var(--Charcoal-Grey);
    display: flex;
    gap: 10px;
    align-items: center;
}

#newsletter{
    margin-top: 20px;
}

.error-border:focus{
    border: 2px solid var(--Tomato);
    outline: 2px solid var(--Tomato);
    background-color:  hsla(4, 100%, 67%, 0.39);
}

.error-text{
    color: var(--Tomato);
}

.error::placeholder{
    color: var(--Tomato);
}
#newsletter .news-input{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#newsletter .news-input #newsletter-input:focus{
    outline: 1px var(--Dark-Slate-Grey) solid;
    border: none;
}

label{
    color: var(--Charcoal-Grey);
    font-weight: 700;
}

#newsletter .news-input #newsletter-input{
    padding:  15px 20px;
    border-radius: 5px;
    border: 1px solid var(--Grey);
}

#subscribe-btn{
    color: var(--White);
    border: none;
    border-radius: 5px;
    background-color: var(--Dark-Slate-Grey);
    padding: 15px 20px;
    font-size: 1rem;
    text-align: center;
    font-weight: 700;
}

#subscribe-btn:hover{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,82,214,1) 0%, rgba(255,120,62,1) 100%);
}

.right img{
    height: 480px;
}

@media (max-width:700px) {
    .container{
        flex-direction: column-reverse;
        padding: 0;
        max-width: 400px;
        gap: 20px;
        padding-bottom: 30px;
        border-radius: 0px;
        align-items: stretch;
    }
    .container .left{
        margin: 0 30px;
    }
    .right img{
        width: 100%;
        height: 50%;
    }
}

/* end of index.html styling */


